.header__container{
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    

}
.header__logo{
    width: 100px;
    object-fit: contain;
}
.logo__name{
    padding-top: 20px;
}

.logo__name:hover{
    border: 1px solid white;
}
.header__links{
    color: white;
    text-decoration: none;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    flex: 1;
    
    height: 65px;
    box-sizing: border-box;
    padding: 10px;
    
}

.header__option:hover{
    border: 1px solid white;
}
.header__link_options{
    display: flex;
    box-sizing: border-box;

}
.search_bar{
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 800px;
}
.header__searchbar{
    display: flex;
    border-radius: 4px;
    height: 34px;
    margin-top: 16px;
   
}
.search_bar:focus{
    outline: none !important;
    border:2px solid  #FF7700 ;
    box-shadow: 0 0 4px grey;
}

.search__icon{
    background-color: #f0c14b;
    padding: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.header__title_one{
    font-size: 14px;
}
.header__title_two{
    font-weight: 700;
}

.header__cart{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1252px) {
    .search_bar{
        width: 500px;
    }
}

@media screen and (max-width: 992px) {
    .search_bar{
        width: 400px;
    }
}
@media screen and (max-width: 880px) {
    .search_bar{
        width: 200px;
    }
}
@media screen and (max-width: 676px) {
    .search_bar{
        width: 100px;
    }
}
.header__cart{
    margin-top: 15px;
    display: flex;
}
.header__bottom{
    display: flex;
    color: white;
    background-color: #232F3E;
}
.header__bottom__links{
    display: flex;
    flex:1
}
.header__bottom__link{
    margin-right: 5px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    margin-top: 6px;
    font-size: 14px;
}
.header__bottom_title{
    margin-right: 100px;
    display: flex;
}
.header__bottom__title__name{
    display: flex;
    flex-direction: column;
}
